.nav-container {
  margin-top: 0px;
  background-color: #ceeecd78;
  max-width: 100%;
  height: 80px;
}

.nav-container-wrapper {
  max-width: 1100px;
  max-height: 100px;
  background-color: #ceeecd78;
  height: 80px;
  padding: 10px;
  margin: auto;
}
.nav-container-wrapper-logo {
  position: absolute;
  padding: 16px 0;
}
.nav-container-wrapper-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 16px;
  gap: 30px;
  list-style-type: none;
  font-size: 20px;
  color: black;
}
.nav-container-wrapper-links li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.nav-container-wrapper-links li a:hover {
  text-decoration: underline;
}
