<nav class="nav-container">
  <div class="nav-container-wrapper">
    <img
      class="nav-container-wrapper-logo"
      src="C:\Users\marco.azimonti\Downloads\138026246-modello-dell-illustrazione-dell-icona-di-vettore-di-progettazione-di-logo-delle-scarpe-dell-uomo.jpg"
      alt="shoos logo"
    />
    <ul class="nav-container-wrapper-links">
      <li>
        <a routerLink="users/id"> Profile</a>
      </li>
      <li><a routerLink="shoes/cart"> Cart</a></li>
      <li><a routerLink="shoes"> Shoes</a></li>
    </ul>
  </div>
</nav>
