.app-container {
  // background-color: aquamarine;

  max-width: 87.5rem;
  min-width: 25rem;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 20px;

  & .links {
    display: flex;
    gap: 20px;
  }
}
